@font-face {
    font-family: FinkHeavy; src: url('../../FinkHeavy.ttf');
}

@font-face {
    font-family: Rodin; src: url('../../FOT_Rodin_Pro_UB.otf');
}

body {
    background-color: #f1f8f8;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Arial Rounded MT Bold", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #572D00;
}

footer {
    background-color: #D0C8E3;
    padding: 1px;
}

header {
    width: 100%;
    background-image: url("../images/headerbg.jpeg");
    padding-top: 5px;
}

header h1 {
    padding: 15px;
}

h1 {
    font-size: 2em;
}

h1, h2 {
    font-family: FinkHeavy;
    color: #572D00;
}

h2 {
    font-size: 26px;
}

nav {
    background-color: #EDE0D4;
    padding: 2px 20px 5px 20px;
    width: 100%;
}

nav ul {
    margin-top: 16px;
    margin-bottom: 16px;
}

nav li {
    display: block;
    margin: 30px;
    justify-self: center;
}

nav a {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: FinkHeavy;
    color: #572D00;
    font-size: 20px;
    background: #D0E0E3;
    padding: 10px 20px 10px 20px;
    border: solid #572D00 2px;
    text-decoration: none;
}

nav a:hover {
    background: #D0C8E3;
}

.active {
    background: #D0C8E3;
    text-decoration: underline;
}

#photo-gallery {
    display: flex;
    flex-direction: column;
}

#photo-gallery img {
    display: inline-block;
    border: solid #572D00 5px;
    border-radius: 15px;
    margin: 10px;
    width: 60%;
    box-shadow: 0px 1px 3px #666666;
}

#critterpedia img {
    border: solid #572D00 5px;
    border-radius: 15px;
    box-shadow: 0px 1px 3px #666666;
}

.container img {
    width: 100%;
}

p {
    font-size: 20px;
}

img {
    width: 100%;
}

#photo2 {
    display: none;
}

#photo3 {
    display: none;
}

#grid-container {
    display: grid;
    row-gap: 50px;
    padding: 50px;
}

#grid-container img {
    width: 50%;
}

#flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
}

#flex-container img {
    margin: 10px;
    border: solid 7px #572D00;
    border-radius: 30px;
    box-shadow: 0px 1px 3px #666666;
}

.shop-description {
    display: flex;
    flex-direction: column;
}

.skip {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip:focus {
    position: absolute;
    top: 20px;
}

.lb-data .lb-caption {
    font-size: 32px;
    color: #572D00;
}

.lightboxOverlay {
    background-color: white;
}

.lightbox .lb-image {
    border: 7px solid #572D00;
    border-radius: 30px;
    box-shadow: 0px 1px 3px #666666;
}

.villager {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    align-items: center;
}

.villager-description p {
    font-size: 15px;
}

#insects2 {
    display: none;
}

#fish2 {
    display: none;
}

main {
    margin-top: 20px;
}

.control {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: FinkHeavy;
    color: #572D00;
    font-size: 20px;
    background: #D0E0E3;
    padding: 10px 20px 10px 20px;
    border: solid #572D00 2px;
    text-decoration: none;
}

.control:hover {
    background: #D0C8E3;
}

@media screen and (min-width: 800px) {
    #photo-gallery {
        flex-direction: row;
    }

    #photo-gallery img {
        width: 80%;
    }

    #main-photo {
        width: 40%;
    }

    #photo2 {
        display: block;
    }

    nav li {
        display: inline;
        margin: 5px;
    }

    #grid-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    #flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #critterpedia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}

@media screen and (min-width: 1000px) {
    #critterpedia {
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav li {
        margin: 50px;
    }

    #photo3 {
        display: block;
    }

    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #grid-container img {
        width: 25%;
    }

    #flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex-container img {
        align-self: center;
        margin: 10px;
        width: 300px;
    }
}
